[credential]
	helper = osxkeychain
[user]
	name = Stems
	email = kisn3089@naver.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = code --wait
	eol = lf
[alias]
	ed = config --global -e
[http]
	postBuffer = 524288000
[push]
	autoSetupRemote = true
[sequence]
	editor = vim
[grep]
	lineNumber = true
	patternType = perl
